@import url('./backup/default-theme-style.css');
@import url('./backup/substack-classes.css');

@import url('./typography/theme-fonts.css');
@import url('./typography/theme-text-styling.css');
@import url('./theme-variables.css');
@import url('./variable-width-content.css');

@import url('./components/header.css');
@import url('./components/footer.css');
@import url('./components/archive.css');

/** Main Site Structure **/

#page-container {
    position: relative;
    min-height: 100vh;
}

body {
    background-color: var(--background);
}

/** Links */
a { color: var(--link); text-decoration: underline; }
a:visited { color: var(--link_visited); }
a:hover { color: var(--accent1); text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {

    a { color: var(--text); text-decoration: none; }
    a:visited { color: var(--text);}
    a:hover { color: var(--text); text-decoration: underline;}

}

/** Partial Elements **/

.subscribe-block {
    font-size: 16px;
}

/** Page content */
.page-content { 
    padding: inherit;
}

.page-heading { font-size: 20px; }

.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 17.5px; color: #828282; }

.post-link { display: block; font-size: 24px; }


/** Images */

/** Default image width is the same as text width */

img { width: var(--width-content); height: auto; vertical-align: middle; }

.image-link-expand {
    display: none;
}

.wrapping-image {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    
}

.wrapping-text {
    margin-left: 5em;
    margin-right: auto;
}

/** Buttons and Bits **/

hr {
	margin: 1em 0;
	border: none;
	text-align: center;

}

hr::before {
	font-size: 1.25em;
	content: "◙ ◙ ◙";
	display: block;
	color: var(--ec-yellow);
}

.button {
    background-color: var(--ec-yellow);
    padding: 0.5em 1em 0.3em 1em;
    margin-bottom: 0;
    border-radius: 0;
    width: fit-content;
    height: auto;
    font-family: 'reglo';
    line-height: 1;
    text-decoration: none;
    color: var(--ec-black);
}

.button-link { text-decoration: none; color: var(--ec-black); text-transform: uppercase; }
.button-link:hover { text-decoration: none; color: var(--ec-black); text-transform: uppercase; }

.button:hover { background-color: var(--text); }
.button:hover p { color: var(--background); }

/** Form Fields **/

input {
    font-family: 'reglo';
    text-transform: uppercase;
    padding: 1.2em 1.2em 1em 1.2em;
}

input[type=text] {

    margin: 0.5em 0em;
    border-radius: 0%;
    border: none;
    background-color: var(--ec-gray);
}

input[type=submit] {

    border-radius: 0%;
    background-color: var(--ec-yellow);
    border: none;
}

input[type=submit]:hover {
    color: var(--background);
    background-color: var(--text);
}

.subscribe-cta {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

/** Homepage Styling **/

.homepage-overview {
    display: grid;
	grid-template-columns: 100%;
	flex-wrap: wrap;
	gap: 20px;
	align-items: start;
	padding-top: .5em;
	padding-bottom: 5em;
	max-width: 100%;
}

.homepage-featured {
    display: grid;
    gap: 1em;
    grid-template-columns: 40% auto;
    align-items: center;
}

.featured-title {
    font-family: var(--reglo);
    font-size: var(--h1-size);
    padding: 0;
    margin: 0;
}

.featured-summary {
    font-family: var(--baskervville);
    text-transform: capitalize;
    font-size: var(--h5-size);
    padding: 0;
    margin: 0;
}

.hpf-text {
    display: grid;
    gap: 1em;
}

.hpf-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    text-align: center;
}

.homepage-recent {
    display: grid;
    grid-template-columns: 33.33% auto auto ;
    gap: 1em;
}

.post-preview {
    padding: 0.5em;
    border: var(--ec-black) 0px solid;
    align-items: start;
}

.post-preview-title {
    font-size: var(--h4-size);
    margin: 0;
}

.post-preview-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/* Homepage Responsive Styling */

/* First breakpoint: homepage only */
@media screen and (max-width: 900px) {
    .featured-title {
        font-size: var(--h3-size);
    }
}

/* Second breakpoint: same as header menu toggle */
@media screen and (max-width: 649px) {
   
    .homepage-overview {
        padding-left: 1em;
        padding-right: 1em;
   }

    .homepage-featured {
        display: grid;
        gap: 1em;
        grid-template-columns: auto;
        align-items: start;
    }

    .hpf-img {
        order: 0;
        height: 250px;
        width: 100%;
    }

    .hpf-text {
        order: 1;
    }

    .homepage-recent {
        grid-template-columns: auto auto;
    }

    .post-preview-image {
        height: 200px;
    }
}

/* Third breakpoint: fixing the "recent" section at very small widths */

@media screen and (max-width: 479px) {

    .homepage-overview {
        padding-left: 0.5em;
        padding-right: 0.5em;
   }    

    .homepage-recent {
        grid-template-columns: auto;
    }
    
}