/* Light mode */
:root {

	/* Font Families */

	--reglo: 'reglo', Arial, Helvetica, sans-serif;
	--avara: 'avara', Georgia, 'Times New Roman', Times, serif;
	--baskervville: 'baskervville', Georgia, 'Times New Roman', Times, serif;

    /* Brand Colours */

    --ec-black: #000000;
    --ec-white: #ffffff;
    --ec-red: #c91212;
    --ec-yellow: #fcaf16;
    --ec-blue: #0082c7;
    --ec-green: #32922f;
	--ec-gray: #ececec;

	--dark-bg: #15111c;

	--text: var(--ec-black);
	--link: var(--ec-blue);
	--link_visited: #3c00c7;
	--accent1: var(--ec-red);
	--accent2: var(--ec-yellow);
	--background: var(--ec-white);
	--code: var(--ec-yellow);
	--button-text: var(--ec-white);
	--blockquote: #fcaf1614;
	--blockquote-border: var(--ec-yellow);
	--aside: #e0f7fa;
	--aside-border: #0097a7;
	--note: #e8f5e9;
	--note-border: #d5e1d6;
	--alert: #ffebee;
	--alert-border: #d32f2f;
	--field: #fffee0;
	--mark: #FFFF99;
	--post_preview_BG: #ffffff;
	--rev-bg: #238fce;
	--rev-link: #8acef6;

	/* other global styling variables */

	--footer-height: 350px;

    --site-title-size: 1.5em;

    /* Page Width Control */
    --width-content: 40rem;
    --width-content-medium: 65rem;
    --width-content-large: 90rem;


	/* Global Responsive Styling */
	--mobile-width: 649px;

    /* Copying Gutter Setup from a Tutorial */

    --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
    --width-site-gutter: var(--space-m);

    /* Standardizing Heading Styling for All Sub-Classes */
    --h1-size: 4em;
    --h2-size: 2.5em;
    --h3-size: 2em;
    --h4-size: 1.75em;
    --h5-size: 1.5em;
    --h6-size: 1em;

    --heading-line-height: 100%;
    --heading-padding: 0.5em 0em 0.25em 0em;
    --heading-margin-bottom: 0%;

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {

		--ec-gray: #323232;
		
		--text: var(--ec-white);
		--link: var(--ec-blue);
		--link_visited: #9b78ed;
		--accent1: var(--ec-red);
		--accent2: var(--ec-yellow);
		--background: var(--dark-bg);
		--code: var(--ec-yellow);	
		--button-text: var(--ec-black);
		--aside: #6272a4;
		--aside-border: #7797b7	;
		--note: #3f444a;
		--note-border: #4f545a;
		--alert: #ff5555;
		--alert-border: #f6c010;
		--field: #44475a;
		--mark: #FFFF99;
		--post_preview_BG: #362a3b;
		--rev-bg: var(--ec-blue);
		--rev-link: var(--ec-white);


	}
}