{{ define "main" }}

<div class="variable-width-wrapper">

    <h1 class="medium-width-content" style="font-family: 'avara';">
        Manifesto
    </h1>

    <p> Everyone's Creative is a big idea, and big ideas need some guidance to keep them on track. 
        This manifesto is where I've tried to articulate what all of this is&nbsp;<em>about.</em>&nbsp;
        These are core values, things I believe deep down to be true and good and right.</p>
    
    <p>I don't know where this is going to end up, but this is the direction we're going. This is what it's about:</p>

    <div class="manifesto-item">
        <h2>
            <em>Everyone</em> is Creative
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-01.jpg">
            <p>
                You're a human. You can't opt out of this. You can't take it away from others.
            </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Reject Dogma
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-02.jpg">
        <p>
            Recognize that rules can provide structure, but that authority can snuff out creativity.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Challenge Systems
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-03.jpg">
        <p>
            There's no "one right way" to do <em>anything.</em> 
            Nothing is impossible to try. 
            There's <em>always</em> another way to do it.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2 style="font-family: 'avara'; font-size: 36px;">
            Embrace Luddism
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-04.jpg">
        <p>
            Technology should empower creativity, not compel it. 
            Nobody should have power over what and how you create. 
            We need to protect that power for each other at all costs.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Demystify the Process
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-05.jpg">
        <div>
            <p>
                Remember that how you work is not what gives you value - your value is inherent to your being. 
                Secrecy leads us into obscurity and isolation. When we're separated, we're vulnerable.
            </p>
            <p>
                Seeing how things are done lowers barriers and opens doors - that's the life cycle of art. 
                Creativity isn't magic, so don't treat it that way. Let others in.
            </p>
        </div>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Share as Much as You Can
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-06.jpg">
        <p>
            Don't hoard ideas or resources. Make things other people can use.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Empower Each Other
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-07.jpg">
        <p>
            Working alone can be wonderful. Existing alone is a nightmare. 
            Empower, teach, uplift - whatever you have to provide, someone else likely needs. 
            We're all stronger when we all help in our way.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Create with Care
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-08.jpg">
        <p>
            Recognize that creativity is neither good nor evil - but that it is powerful. 
            You are responsible for your ideas and for what you create. 
            Remember that you can cause great harm - by accident or by choice. 
            You need to choose not to.
        </p>
        </div>
    </div>

    <div class="manifesto-item">
        <h2>
            Have Fun
        </h2>
        <div class="manifesto-row-2">
            <img class="manifesto-thumbnail" src="/assets/manifesto-thumbnails/ManifestoThumbnail-09.jpg">
        <p>
            We have an incredible capacity to remove joy from the most important things in our lives. 
            Never forget that, as important as it might be, it should also be fun.
        </p>
        </div>
    </div>

</div>

{{ end }}