<footer class="full-width-content site-footer">

  <div class="medium-width-content">

    <div class="footer-wrapper">
      <div class="footer-content">
        <p>Everyone's Creative is <a href="https://simonpeng.net/" target="_blank" title="Visit Simon Peng's personal website." alt="Link to simonpeng.net">Simon Peng</a></p>
        <p>This site is hosted by <a href="https://micro.blog/" target="_blank" title="Micro.Blog Homepage" alt="Link to micro.blog">micro.blog.</a><br>The site theme can be found on <a href="https://github.com/RobotFanClub/EC-Theme" target="_blank" title="Everyone's Creative Micro.Blog theme on GitHub" alt="Link to Everyone's Creative theme on GitHub">GitHub</a></p>
        <p>This site uses the fonts<br> 
          <a  href="https://open-foundry.com/fonts/reglo_bold" 
              target="_blank" 
              title="Reglo Bold at Open-Foundry.com" 
              alt="Link to Reglo Bold at Open-Foundry.com"
              class="footer-fonts-reglo">
              Reglo Bold</a>, 
          <a  href="https://www.velvetyne.fr/fonts/avara/" 
              target="_blank" 
              title="Avara from Velvetyne Type Collective" 
              alt="Link to Avara at velvetyne.fr"
              class="footer-fonts-avara"> 
              Avara</a> 
          and 
          <a  href="https://github.com/anrt-type/ANRT-Baskervville" 
              target="_blank" 
              title="ANRT Baskervville Font on GitHub" 
              alt="Link to ANRT-Baskervville on GitHub">
              ANRT Baskervville</a>.
        </p>
      </div></a>
      <div class="footer-content"></div>
      <div class="footer-content">
        <div class="footer-navigation">
          <p>Subscribe</p>
          <p>Support</p>
          <p>Contact</p>
        </div>
      </div>
    </div>

  </div>

</footer>
