<div class="support-section width-content">
    <div class="support-block one-time">
        <h4>One-Time Support</h4>
        <div>
            <img class="support-image" src="/assets/support/EC-1800s-Stock-MeetTheLedger.png">
        </div>
        <p>Pay what you want, one time, and support my work.</p>
        <a href="/support" style="text-decoration: none;"><div class="button"><p>Select</p></div></a>
    </div>
    <div class="support-block ongoing">
        <h4>Ongoing Support</h4>
        <div>
            <img class="support-image" src="/assets/support/EC-1800s-Stock-CrazedDrummer.png">
        </div>
        <p>Monthly or Annual recurring support. Pay what you want and cancel anytime.</p>
        <a href="/support" style="text-decoration: none;"><div class="button"><p>Select</p></div></a>
    </div>
</div>