{{ define "main" }}
<div class="wrapper large-width-content">
  <div class="homepage-overview">
    <div class="homepage-featured">
      {{ range first 1 (where .Site.Pages.ByDate.Reverse "Type" "post") }}
            <div class="hpf-text">
              <!-- Title -->
              {{ if .Title }}
                <h2 class="featured-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              {{ end }}
              {{ if .Summary }}
                <h3 class="featured-summary">{{ .Summary }}</h3>
              {{ end }}
              <!-- Date -->
              <a href="{{ .Permalink }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "January 2, 2006" }}</time></span></a>
              
              <!-- Continue Button -->
              
                <a  href="{{ .Permalink }}"
                    class="button-link">
                  <div class="button">
                    <p>Continue Reading</p>
                  </div>
                </a>
              
            </div>
            <div class="hpf-img">
              {{ if .Params.photos }}
                <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.photos }}
                    <img class="hpf-img" src="{{ . }}" loading="lazy" />
                  {{ end }}
                </a>
              {{ end }} 
            </div>      
        {{ end }}
    </div>
    <h3>More Posts</h3>
    <div class="homepage-recent">
        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post" | after 1) (index .Site.Params "archive-paginate" | default 6) }}
          {{ range $paginator.Pages }}
            <div class="post-preview">
              {{ if .Params.photos }}
                <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.photos }}
                    <img class="post-preview-image" src="{{ . }}" loading="lazy" />
                  {{ end }}
                </a>
              {{ if .Title }}
                <h4 class="post-preview-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              {{ end }}
              <div class="post-date">
                <a href="{{ .Permalink }}" class="u-url"><span><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "January 2, 2006" }}</time></span></a>
              </div>
            </div>
          {{ end }}  
        {{ end }}
    </div>
    <!-- More Button -->
    <a  href="/archive"
        class="button-link">
      <div class="button">
        <p>Full Archive</p>
      </div>
    </a>
  </div>
</div>
{{ end }}
